.image {
  width: 200px;
  height: 200px;
}
.win-icon{
  width: 100px;
}
.icon{
  width: 30px;
}
.spinner{
  width: 50px;
}
.hover-effect:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.hover-bg-red:hover {
  background-color: red;
  cursor: pointer;
}
.hover-bg-green:hover {
  background-color: green;
  cursor: pointer;
}
.hover-bg li:hover {
  background-color: black !important;
  cursor: pointer;
}
